#top {
  height: 25%;
  position: relative;
}

#top > * {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#call-info {
  background-color: rgba(255,255,255,0.5);
  color: #000;
  display: none;
}

#number-display {
  padding: 0;
  display: flex;
  background-color: #27c8c2;
}

.incall #number-display {
  display: none;
}

.incall #call-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;;
  font-size: 4rem;
}

#call-info h2:empty {
  display: none;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
}

#number-display #number {
  flex-grow: 2;
  min-width: 0;
  font-size: 4rem;
  background-color: #27c8c2;
  border: none;
  margin-left: 12px;
  color: #fff;
}

button#erase {
  display: flex;
  width: 10rem;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
  border: none;
  visibility: hidden;
  padding: 0;
  justify-content: center;
  align-items: center;
}

button#erase::before {
  font-size: 4rem;
}

input#number[data-has-value='true'] + button#erase {
  visibility: visible;
}

#midsection {
  height: calc(75% - 6rem);
  position: relative;
}

#midsection > * {
  position: absolute;
  top: 0;
  left: 0;
}

#keypad {
  margin: 0 1.2rem;
  display: flex;
  width: calc(100% - 24px);
  table-layout: fixed;
  height: 100%;
  flex-direction: column;
  align-content: stretch;
}

body.incall #keypad {
  display: none;
}

.keypad-row {
  display: flex;
  height: 100%;
}

#call-status {
  display: none;
  padding: 2rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(229, 102, 0, 0.3), rgba(0, 0, 0, 0));
}

#call-status h3 {
  font-size: 3rem;
  line-height: 3rem;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
}

#call-status h3::after {
  font-family: "gaia-icons";
  margin-inline-start: 1rem;
}

.inbound #call-status h3::after {
  content: 'call-incoming';
}

.outbound #call-status h3::after {
  content: 'call-outgoing';
}

body.incall #call-status {
  display: flex;
}

.key {
  width: 100%;
  margin: 0.25rem 0;
}

.key > span {
  font-size: 5rem;
  font-family: serif;
  pointer-events: none;
  margin-left: 2.5rem;
  line-height: normal;
}

.key > em {
  font-weight: 300;
  font-size: 1.5rem;
  color: #038282;
  font-style: normal;
  width: 4.5rem;
  text-transform: uppercase;
  pointer-events: none;
}

.buttonbar {
  display: flex;
  width: 100%
}

#callbar {
  height: 6rem;
}

#callbar.buttonbar button {
  flex-grow: 1;
  margin: 0.6rem 1.2rem;
  border: none;
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-content: center;
  width: 100%;
  color: #fff;
  display: none;
}

#callbar button::before {
  font-size: 4rem;
  line-height: 4rem;
}

button#call {
  background-color: #00adad;
}

button#accept {
  background-color: #00adad;
}

button#reject, button#hangup {
  background-color: #e00000;
}

#callbar button.small {
  background-color: rgba(0, 0, 0, 0.2);
  width: 6rem;
  border-radius: 6rem;
  flex-grow: 0;
}

#callbar button.small::before {
  font-size: 3rem;
}

.incall #callbar {
  background-color: rgba(255,255,255,0.5);
}

/* button logic */

body:not(.incall) #callbar button.show-nocall {
  display: block;
}

body.incall:not(.inbound) #callbar button.show-incall {
  display: block;
}

body.inbound #callbar button.show-inbound {
  display: block;
}

body.incall #keypad {
  visibility: hidden;
}

body.incall {
  background-color: #ff8d32;
}

#recents-list p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#recents-list a {
  display: flex;
}

#recents-list a > div {
    width: 100%
}

#recents-list a.inbound::before {
  font-family: "gaia-icons";
  content: 'call-incoming';
  font-size: 3rem;
  margin-inline-end: 0.5rem;
  line-height: 3rem;
  color: #575757;
}

#recents-list a.outbound::before {
  font-family: "gaia-icons";
  content: 'call-outgoing';
  font-size: 3rem;
  margin-inline-end: 0.5rem;
  line-height: 3rem;
  color: #575757;
}
